
<section id="footer">
  <div class="footer-logo-and-social-icons">
    <img src="anitas-wild-backyard-photography.svg" alt="Logo of Anita Photography">
    <div class="social-icons">
      <a href="https://www.facebook.com/groups/989120233288366" class="fa fa-facebook"></a>
      <a href="https://www.flickr.com/photos/202656504@N08" class="fa fa-flickr"></a>
      <a href="https://www.pinterest.com/anitaswildbackyardphotography" class="fa fa-pinterest"></a>
    </div>
  </div>
  <div class="links">
    <div class="shop">
      <!-- <p>SHOP</p>
      <a href="https://www.etsy.com">Buy Prints</a> -->
    </div>
    <div class="info">
      <p>INFO</p>
      <a href="">Home</a>
      <a href="/gallery">Gallery</a>
      <!-- <a href="contact.html">Contact</a> -->
    </div>
  </div>
    <div class="footer-credit">
  <p>Design by Melhey Design Co. © 2025. All rights reserved.</p>
</div>
</section>
