<section id="navbar-section">
    <div class="navbar-left">
      <a href="index.html">
  <img src="awbyp-submark.svg" alt="Logo" />
</a>
    </div>
    <div class="navbar-right">
      <a href="/gallery">GALLERY</a>
      <a href="https://www.facebook.com/groups/989120233288366">FACEBOOK</a>
      <a href="https://www.pinterest.com/anitaswildbackyardphotography">PINTEREST</a>
      <a href="https://www.flickr.com/photos/202656504@N08">FLICKR</a>
      <!-- <a href="contact.html">CONTACT</a> -->
      <!-- <button>BUY MY PRINTS</button> -->
    </div>
  </section>
