/* LOGIN FORM */

.login-form {
  max-width: 400px;
  margin: 80px auto;
  padding: 2rem;
  background-color: var(--color-eggshell);
  border: 1px solid var(--color-black);
}

.login-form h2 {
  text-align: center;
  color: var(--color-teal);
  margin-bottom: 1.5rem;
  font-size: 50px;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: var(--color-forest);
}

.login-form input {
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  border: 1px solid var(--color-sage-gray);
  border-radius: 8px;
  font-size: 1rem;
}

.login-form button {
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.login-form button:hover {
  background-color: var(--color-teal);
}

.login-form .error {
  margin-top: 1rem;
  color: crimson;
  font-weight: bold;
  text-align: center;
}

/* LOGOUT FORM */

.logout-form {
  max-width: 400px;
  margin: 80px auto;
  padding: 2rem;
  background-color: var(--color-eggshell);
  border: 1px solid var(--color-black);
  text-align: center;
}

.logout-form h2 {
  color: var(--color-teal);
  margin-bottom: 1.5rem;
  font-size: 50px;
}

.logout-form button {
  background-color: var(--color-orange);
  color: var(--color-white);
  border: none;
  padding: 0.8rem 1.2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logout-form button:hover {
  background-color: var(--color-teal);
}
